<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/mystyle.css">
    <title>Web322 Assignment#1</title>
</head>
<body>
    <form method="post" action="/main">
        <h1>Beautiful Places Gallery</h1>
        <div id="h2-1">
        <span>Welcome, {{username}}!</span>
        <a href="/logout" id="logout"> Logout</a>
        </div>
        <div id="selection">
            {{#each imageList}}
            <input type="radio" name="images" value="[{{@index}}]" id="{{this.name}}"> {{this.name}}<br>
			{{/each}}
            <button id="button">Submit</button>
        </div>
    
    <div id="gallery">
        
        <img id="image" src="{{data1.number1}}" onerror="this.onerror=null;this.src='./images/xxxx.png';" height="300" width="300">
        <div id="pick">
           {{data2.number2}}
        </div>
        
    </div>
    </form>
    
</body>
</html>